<div class="container-fluid pl-0 pt-0 mt-0">
  <div *ngIf='showBriefManga' class="side-info-block col-sm-2 d-block h-100 position-fixed m-0 bg-cs p-0">
      <div class="img-block p-1">
        <img src="{{showBriefManga.cover}}" srcset="" class="img-fluid">
      </div>
      <div class="content-block w-100 p-1">
          <h5 class="text-light text-truncate text-center">{{showBriefManga.name}} </h5>
          <div class="d-block p-1 text-light description-block">
              <span> {{showBriefManga.description}} </span>
          </div>
          <div class="row m-1">
            <span class="">Tags: </span>
            <span class="ml-1" *ngFor="let tag of listTagString">
                <a href="#" class="badge badge-info">{{tag.name}}</a>
            </span>
          </div>
      </div>
      <div class="option-block w-100 p-0 mb-1 ml-0 mr-0">
          <a routerLink="/manga/{{showBriefManga.id}}" class="btn btn-light btn-block rounded-0" >
            <i class="fab fa-readme"></i> View now
          </a>
      </div>
  </div>
  <div class="block mt-1 col-sm-10 offset-2">
    <h3 class="text-light">All the manga!</h3>
    <p class="float-right text-muted">Total: {{totalMangaCount}} Manga</p>
  </div>
  <div class="row col-sm-10 offset-2">
    <app-comp-sortingmanga [(sortname)]='sortname' [(sortview)]='sortview' ></app-comp-sortingmanga>
  </div>
  <hr class="col-sm-10 offset-2">
  <app-comp-listmanga 
  (outputManga)='getClickedManga($event)'
  [listMangaHave]="listAllManga" 
  [currentDisplayMangaCount]="currentDisplayMangaCount" ></app-comp-listmanga>
</div>
