<div class="container-fluid" [class.ngVisible] = "!loading" [class.ngInvisible] = "loading">
  <div class="update-block">
    <h2>New Updates: </h2>
    <p class="currentPage">Page: 2</p>
    <div class="update-manga">
      <div class="prevbtn">
        <button class="btn btn-block btn-default rounded-0" (click)="prevbtn" [class.d-none]="!prevcondition">
          <
        </button>
      </div>
      <div class="main">
          <a routerLink="/manga/{{manga?.aManga.id}}" class="manga-card" *ngFor="let manga of displayList">
            <img src="{{manga?.aManga.cover}}"
               class="cover">
            <div class="manga-info">
              <h5 class="title">{{manga?.aManga.name}}</h5>
              <div class="chap">
                Chap {{manga?.newestChap}}
              </div>
              <p class="description">
                {{manga?.aManga.description}}
              </p>
            </div>
          </a>
          
      </div>

      <div class="nextbtn">
        <button class="btn btn-block btn-default rounded-0" (click)="nextbtn">
          >
        </button>
      </div>
    </div>
  </div>
  
  <div class="ranking-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sit provident hic molestiae incidunt assumenda velit blanditiis vero? Beatae ullam at quia? Laborum molestiae alias expedita perspiciatis delectus, aliquam aut.
    <br>
    rank
  </div>  

  <div class="newrising-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure earum recusandae aliquid et ipsa, officia a ex, dicta 
    amet enim delectus alias quod asperiores illum beatae quasi temporibus totam fugit.
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>