@media only screen and (min-width: 600px) {
    .container-fluid{
        grid-template-areas: 
        "update     ranking"
        "newrising  ranking" !important;
        grid-template-columns: 1050px auto; 
        grid-template-rows: 400px auto;
    }

    .update-manga{
        grid-template-columns: 80px 860px 80px;
    }
}

@media only screen and (max-width: 599px) {
    .container-fluid{
        grid-template-areas: 
        "update"
        "newrising"
        "ranking";
        grid-template-columns: 1fr;
    }

    .update-manga{
        grid-template-columns: 20px auto 20px;
    }
}

.container-fluid{
    width: 100% !important;
    display: grid;
    z-index: 0;
    grid-gap: 1em;
    padding-top: 1em;
}

.container-fluid > div{
    padding: 0.5em;
    border-radius: 0.5em;
    background: rgb(114, 125, 135) !important;
    /* background-color: rgb(214, 220, 226);
    color: rgb(22, 22, 22); */
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
}

.update-block{
    grid-area: update;
    z-index: 1;
    height: 350px;
    display: grid;
    grid-template-areas: 
    "title page"
    "manga manga";
    overflow: hidden;
}

.update-block > h2 {
    grid-area: title;
    width: 100% !important;
    display: inline-block;
}

.currentPage{
    grid-area: page;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.update-block > div{
    grid-area: manga;
}

.update-manga{
    display: grid;
    grid-template-areas: 
    'prevbtn up nextbtn';
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 290px;
    border-radius: 0.5em;
}

.update-manga > .prevbtn{
    grid-area: prevbtn;
}

.update-manga > .nextbtn{
    grid-area: nextbtn;
}

.update-manga > .main{
    grid-area: up;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.update-manga > div > button{
    height: 100%;
    background: transparent !important;
    border: 0px !important;
    color: white;
}

/**
RANKING BLOCK
*/
.ranking-block{
    grid-area: ranking;
    z-index: 1;
}


/**
newrising BLOCK
*/
.newrising-block{
    grid-area: newrising;
    z-index: 1;
    background: rgb(114, 125, 135) !important;
}