<div class="container-fluid pl-0 pt-0 mt-0">
    <div class="side-info-block col-sm-2 d-block h-100 position-fixed m-0 bg-primary p-0">
        <div class="img-block p-1">
          <img src="{{showBriefManga.cover}}" srcset="" class="img-fluid">
        </div>
        <div class="content-block w-100 p-1">
            <h5 class="text-dark text-truncate text-center">{{showBriefManga.name}} </h5>
            <div class="d-block p-1 text-light description-block">
                <span> {{showBriefManga.description}} </span>
            </div>
            <div class="row m-1">
              <span class="">Tags: </span>
              <span class="ml-1" *ngFor="let tag of showBriefManga.tags">
                  <a href="#" class="badge badge-info">{{tag}}</a>
              </span>
            </div>
        </div>
        <div class="option-block w-100 p-0 mb-1 ml-0 mr-0">
            <a routerLink="manga/{{showBriefManga.id}}" class="btn btn-success btn-block rounded-0" >
              <i class="fas fa-bookmark"></i> Bookmark
            </a>
        </div>
    </div>
    <div class="chapter_block">
        
    </div>
</div>