a{
    padding: 1% ;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%
}

a:hover{
    color: white;
    background: #222222 !important;
}