<div class="col-sm-12">
  <h3 class="text-center text-info">Login with existed account</h3>
  <hr style="color: white">
  <form method="post" #loginForm=ngForm (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="emailinput">Email</label>
      <input type="email" class="form-control" name="emailInput" [(ngModel)]="formData.email" id="emailinput" required aria-describedby="emailinput" placeholder="Enter email here">
    </div>
    <div class="form-group">
      <label for="passwordinput">Password</label>
      <input type="password" class="form-control" name="passwordInput" [(ngModel)]="formData.password" id="passwordinput" required placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid" >Login</button>
    <a routerLink='forget-password' class="">Forget your password?</a>
    <div class="alert alert-danger mt-2" [hidden]='!errors' >
        {{errors}}
    </div>
  </form>
</div>
