<div class="container-fluid pl-0 pt-0 mt-0 ">
    <div class="side-info-block col-sm-2 col-xs-12 d-block h-100 position-fixed m-0 bg-cs p-0">
        <div class="img-block p-1">
          <img src="{{showBriefManga?.cover}}" srcset="" class="img-fluid">
        </div>
        <div class="content-block w-100 p-1">
            <h5 class="text-light text-truncate text-center">{{showBriefManga?.name}} </h5>
            <div class="d-block p-1 text-light description-block">
                <span> {{showBriefManga?.description}} </span>
            </div>
            <div class="row m-1">
              <span class="">Tags: </span>
              <span class="ml-1" *ngFor="let tag of tagList">
                  <a href="#" class="badge badge-info">{{tag.name}}</a>
              </span>
            </div>
        </div>
        <div class="option-block w-100 p-0 mb-1 ml-0 mr-0 p-1" *ngIf="auth">
            <a (click)='bookmark(showBriefManga)' *ngIf="!read" class="btn btn-success btn-block rounded-0" >
              <i class="fas fa-bookmark"></i> Bookmark
            </a>
            <a (click)='unbookmark(showBriefManga)' *ngIf="read" class="btn btn-danger btn-block rounded-0" >
              <i class="fas fa-minus-square"></i> Unbookmark
            </a>
        </div>
        <div class="option-block w-100 p-0 mb-1 ml-0 mr-0 p-1" *ngIf="belongsToUser">
            <a routerLink="/manage/manga/{{showBriefManga?.id}}" class="btn btn-info btn-block rounded-0" >
                <i class="fas fa-edit"></i> Manage
            </a>
        </div>
        <div class="option-block w-100 p-0 mb-1 ml-0 mr-0 p-1" *ngIf="!auth">
            <a routerLink="/login" class="btn btn-default btn-block rounded-0" >
                <i class="fas fa-sign-in-alt"></i> Login bookmark this
            </a>
        </div>
    </div>

    <!-- Displaying Chapter Section -->
    <div class="chapter_block col-sm-10 col-xs-12 offset-2">
        <div class="card bg-dark mt-3">
            <div class="card-body row">
                <div class="block col-sm-2 col-xs-2 text-light text-center">
                    Chap
                </div>
                <div class="block col-sm-6 col-xs-10 text-light">
                    Chapt Title
                </div>
                <div class="block col-sm-2 col-xs-12 text-light">
                    View
                </div>
                <div class="block col-sm-2 col-xs-12 text-muted">
                    Last Updated
                </div>
            </div>
        </div>
        
        <a class="card mt-3" 
        *ngFor="let chap of displayChapList"
        routerLink="/manga/{{chap.chap.idManga}}/chap/{{chap.chap.id}}"
        >
            <div class="card-body row">
                <div class="block col-sm-2 col-xs-2 text-light text-center">{{chap.chap.chap}} </div>
                <div class="block col-sm-6 col-xs-10 text-light text-nowrap text-truncate"> {{chap.chap.title}} </div>
                <div class="block col-sm-2 col-xs-12 text-light" >{{chap.viewCount}}</div>
                <div class="block col-sm-2 col-xs-12 text-muted" >{{chap.chap.updated_at}}</div>
            </div>
        </a>
    
        <!-- --------  routerLink="/manga/{{chap.idManga}}/chap/{{chap.id}}"--------------- -->
    
        <div *ngIf="!displayChapList" class="col-12">
        <h1 class="display-4 text-muted text-center" >Seems like there is no manga here...</h1>
        </div>
    
        <div *ngIf="displayChapList && loadmoreCondition" class="col-12 mt-3 mb-3">
            <button type="button" class="btn btn-info btn-block rounded-0" (click)='showMoreResult()'>Load More chap!</button>
        </div>
    
        <div *ngIf="displayChapList && !loadmoreCondition" class="col-12 mt-3 mb-3">
        <h1 class="display-4 text-muted text-center" >There is no chap left to load :'(</h1>
        </div>
    </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>