nav.bg-primary{
    background: rgb(49, 54, 61) !important;
    -webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.55);
}

.linkNoHref{
    cursor: pointer;
}