.container-fluid > div{
    border-radius: 1em;
    margin: auto;
}

/*
*   Information block section
*/
.infomation-block{
    margin: 4em auto 1em auto !important;
    z-index: 1;
    padding: 1em;
    color: rgb(34, 34, 34);
    background: rgb(209, 214, 219);
}

.infomation-block i{
    color:  rgb(49, 54, 61);
}

.information{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.detail-information{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* 
*   btn block section
*/
.btn-option{
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent !important;
}

.btn-option > button{
    -webkit-box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
    box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
    border-radius: 1em;
}

/* 
*   Bookmark block section
*/
.bookmark{
    background: rgb(209, 214, 219);
    margin: 1em auto 1em auto !important;
    display: grid;
    grid-template-areas: 
    'title'
    'list';
    grid-gap: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: 0.5s;
    overflow: hidden;
}

.bookmark > .title{
    grid-area: title;
    display: grid;
    grid-template-columns: 7fr 2fr 3fr;
    grid-gap: 1em;
    color: black;
    justify-items: center;
}

.bookmark > .title *{
    display: flex;
    justify-content: center;
    align-content: center;
}

.bookmark > .list{
    min-height: 50px;
    display: block;
    grid-area: list;
    transition: 0.5s;
    overflow: hidden;
}

.bookmark > .list > .manga{
    background: #315D6D;
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    padding: 0;
    border-radius: 1em;
    margin-bottom: 1em;
    justify-content: stretch;
    align-content: stretch;
}

.bookmark > .list > .manga > .info{
    color: aliceblue;
    display:grid;
    grid-template-columns: 7fr 2fr;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    position: relative;
    border-radius: 1em 0 0 1em;
}

.bookmark > .list > .manga > .info > .coverManga{
    display: block;
    height: 100% !important;
    width: 100% !important;
    /* Animated section */
    background-position: center;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: backwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    border-radius: 1em 0 0 1em;
}

.bookmark > .list > .manga > .info .mangaName{
    background: #315D6D !important;
}

.bookmark > .list > .manga > .info .mangaName:hover{
    color: black !important;
    background-color: transparent !important;
}

.bookmark > .list > .manga > .info .chap, .mangaName{
    height: 100% !important;
    width: 100% !important;
    background-color: #315D6D;
    transition: 0.2s;
    border-radius: 1em 0 0 1em;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1em 1em;
}

.bookmark > .list > .manga > .info >.chap{
    border-radius: 0 !important;
    justify-self: center;
    align-self: center;
    text-align: center
}

@-webkit-keyframes backgroundScroll {
    0%   {background-position:0 0;}
    50%  {background-position: 100% -100%;}
    100% {background-position: 0 0;}
}

@keyframes backgroundScroll {
    0%   {background-position:0 0;}
    50%  {background-position: 100% -100%;}
    100% {background-position: 0 0;}
}

.removebtn{
    border-radius: 0 1em 1em 0;
}

/* 
* Status block section
*/

.status-block{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 1em;
}