<div class="container-fluid d-block p-0 m-0 h-100">
  <div class="imgBlock col-12 d-block h-100 pt-5">
    <p class="text-center" *ngFor="let img of listImage">
      <img class="img-responsive"
      src="{{img.img_url}}" alt="Chap {{img.idChap}}">
    </p>
    <button class="btn btn-block btn-warning m-2 mb-5">Mark as read</button>
  </div>
  <div class="bookmarkSection fixed-bottom d-flex flex-row">
    <button class="btn btn-outline-danger rounded-0 w-25">Previous</button>
    <button class="btn btn-default rounded-0 w-25">Go</button>
    <select name="chapter" id="chapter" class="custom-select rounded-0">
      <option *ngFor="let link of listChap" [value]='link.id' [selected]='link.id == idChap ? true:false' >
        Chap {{link.chap}}: {{link.title}}
      </option>
    </select>
    <button class="btn btn-outline-success rounded-0 w-25">Next</button>
  </div>
</div>
