.container-fluid{
    min-height: 100% !important
}

.mainblock{
    margin: auto;
    margin-top: 1em;
}

.mainblock > form > div{
    background: rgba(255, 255, 255, 0.74);
    border-radius: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
}

.tagDisplay{
    display: inline-block;
}

.suggestTag{
    cursor: pointer;
}

.afterBlock{
    display: grid;
    height: 100% !important;
    width: 100% !important;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1em;
}

.afterBlock > .content{
    grid-column: 2 / 3;
    grid-row: 2/3;
}