<div class="modal-windows">
    <div class="modal-frame">
        <button class="btn btn-block btn-danger close-button">&times;</button>
        <div class="modal-message">
            <p>
                {{message}}
            </p>
        </div>
        <div class="modal-option">
            <small class="text-muted modal-tips">This message will automatically closed after 4 seconds.</small>
            <button class="btn btn-block btn-success modal-confirm">Got it</button>
        </div>
    </div>
</div>