<div class="modal-windows shadow-soft">
    <div class="modal-frame">
        <div *ngIf="title.length>1" class="modal-title">
            <h3 class="text-monospace text-center">{{title}}</h3>
        </div>
        <button class="btn btn-block btn-danger close-button" (click)="closebtn()">&times;</button>
        <div class="modal-message-block">
            <p>
                {{message}}
            </p>
        </div>
        <div class="modal-option">
            <button *ngIf="optionMessage.length > 0" (click)="optionbtn()" class="btn btn-info modal-option-button">
                {{optionMessage}}
            </button>
            <button class="btn btn-success modal-confirm" (click)="closebtn()">
                Got it
                <span *ngIf="optionMessage.length <= 0">({{countTime}})</span>
            </button>
        </div>
    </div>
</div>