.modal-windows{
    position: absolute;
    display: block;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    background: rgba(48, 48, 48, 0.486);
    z-index: 8;
}

.modal-windows > .modal-frame{
    margin: 20% auto;
    max-width: 30%;
    min-width: 25%;
    display: grid;
    grid-template-areas: 
    'title      close-button'
    'message    message'
    'option     option';
    grid-gap: 1em;
    background: white;
    padding: 1em;
    grid-template-rows: auto 4em auto;
    grid-template-columns: auto 40px;
    border-radius: 1em;
}

.modal-windows > .modal-frame > .modal-title{
    grid-area: title;
}

.modal-windows > .modal-frame > .close-button{
    grid-area: close-button;
}



.modal-windows > .modal-frame > .modal-message-block{
    grid-area: message;
    text-align: justify;
    color: rgb(36, 36, 36);
}

.modal-windows > .modal-frame > .modal-option{
    grid-area: option;
    display: grid;
    grid-template-areas: 
    'opt   btn';
    grid-template-columns: auto;
    grid-gap: 1em;
    align-content: stretch;
    justify-content: stretch;
}

.modal-windows > .modal-frame > .modal-option > .modal-option-button{
    grid-area: opt;
}

.modal-windows > .modal-frame > .modal-option > .modal-confirm{
    grid-area: btn;
}