<div class="container-fluid">
  <div class="update-block">
    <h2>New Updates:</h2>
    <div class="update-block-manga">
      <div class="card-manga">
        <div class="card-img" style="background-image: url('https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none')">
        </div>
        <div class="card-content">
            <div class="card-content-info">
              <h4>Hayate no gotoku</h4>
              <hr>
            </div>
            <div class="card-content-option">
              <a href="" class="btn-link btn-block btn-success">
                View now
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ranking-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur nisi veritatis dolorum cum ullam minus? Alias minus dolorem 
    dolorum fuga optio, perferendis aliquid. Dolorum excepturi reiciendis est labore repellat?
  </div>  

  <div class="newrising-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure earum recusandae aliquid et ipsa, officia a ex, dicta 
    amet enim delectus alias quod asperiores illum beatae quasi temporibus totam fugit.
  </div>
</div>