<div class="container-fluid">
  <div class="update-block">
    <h2>New Updates:</h2>
    <div class="update-block-manga">
      <!-- <a class="card-img" style="background-image: url('https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none')">
        <div class="card-info">
          <h4>Hayate No Gotoku</h4>
        </div>
      </a> -->
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
      <a href="" class="card-block-img">
        <img src="https://bjpqvq.bn.files.1drv.com/y4mPUAQMuVJAPhJEgo7fihlGzfg8RBp6DMlxqrPx8VTPE4PiXjPS1Al8z1i26NlYPcVJ1BMMbZakpC_9XRN0RbvXgUVAxEWMuzqfHZCj7SouD4ODtYp1jDJk27tqFaZFvmYpua1rVY39HCGUoADxJR6telHS9s4wso0uJRCUeVwHEAui2i0riPDdREksiZcraylLtkO9s3E-U7Ut3NxBX2sOg?width=843&height=1200&cropmode=none"
         alt="" srcset="" style="width: 200px; max-height: 280px;">
        <div class="card-block-info">
          <h5 class="card-block-title">Hayate No Gotoku das das da sd</h5>
          <p class="text-muted card-block-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, asperiores commodi ducimus quibusdam fuga dolorum iure ut illo cum ab ipsa perferendis voluptatibus iusto sequi adipisci nobis assumenda blanditiis distinctio in quam nostrum dolore, nisi non labore. Officia, labore quibusdam. Autem quaerat voluptas magnam enim aperiam numquam excepturi illum id.
          </p>
          <div class="card-block-content-chap">
            chap 5
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="ranking-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sit provident hic molestiae incidunt assumenda velit blanditiis vero? Beatae ullam at quia? Laborum molestiae alias expedita perspiciatis delectus, aliquam aut.
    <br>
    rank
  </div>  

  <div class="newrising-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure earum recusandae aliquid et ipsa, officia a ex, dicta 
    amet enim delectus alias quod asperiores illum beatae quasi temporibus totam fugit.
  </div>
</div>