@media only screen and (min-width: 600px) {
    .container-fluid{
        grid-template-areas: 
        "update     ranking"
        "newrising  ranking" !important;
        grid-template-columns: 3fr 1fr; 
        grid-template-rows: 500px auto;
    }
}

@media only screen and (max-width: 599px) {
    .container-fluid{
        grid-template-areas: 
        "update"
        "newrising"
        "ranking";
        grid-template-columns: 1fr;
    }
}

.container-fluid{
    display: grid;
    z-index: 0;
    grid-gap: 1em;
    padding-top: 1em;
}

.container-fluid > div{
    padding: 0.5em;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.55);
}

.update-block{
    grid-area: update;
    z-index: 1;
    background: rgb(114, 125, 135) !important;
    overflow: scroll;
    overflow-x:hidden;
    height: 500px;

    display: grid;
    grid-template-areas: 
    "title"
    "manga";
}

.update-block > h2 {
    grid-area: title;
}

.update-block > div{
    grid-area: manga;
}

.update-block-manga{
    display: inline-block;
}

.card-block-img{
    display: block;
    height: 280px;
    width: 200px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5em;
    z-index: 2;
    text-decoration: none !important;
    margin: 0.5em 0.5em;
    float: left;
}
.card-block-img >*{
    border-radius: 0.5em;
    z-index: 3;
}

.card-block-info{
    position: relative;
    height: 90px;
    bottom: 90px;
    left: 0;
    right: 0;
    width: 200px;
    background: rgba(0, 0, 0, 0.705);
    color: white;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.card-block-info:hover{
    background: rgba(0, 0, 0, 0.925);
    bottom: 200px;
    height: 200px;
}

.card-block-title{
    width: 200px;
    height: 28px;
    overflow: hidden;
}

.card-block-content{
    height: 72px;
    overflow: hidden;
}

.card-content{
    width: 100% !important;
    padding: 0.5em;
}

.card-block-content-chap{
    height: 16px;
    bottom: 16px;
    top: 120px;
}

.ranking-block{
    grid-area: ranking;
    z-index: 1;
    background: rgb(114, 125, 135) !important;
}

.newrising-block{
    grid-area: newrising;
    z-index: 1;
    background: rgb(114, 125, 135) !important;
}