/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(88, 102, 112) !important;
    color: #d9d9d9;
    margin: 0 0 0 5px;
    height: 100% !important;
    width: 100% !important;
    font-family: Helvetica, sans-serif;
}

.shadow-soft{
    -webkit-box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
    box-shadow: 2px 2px 3px 0px rgba(84,84,84,1);
}

.footerLink{
    text-decoration: none !important;
    color: #d9d9d9;
}

.footerLink:hover{
    text-decoration: none !important;
    color: #ffffff;
}

a{
    text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html { 
    height: 100vh;
    overflow-y: scroll; 
    box-sizing: border-box;
}

.route-container{
    margin-top: 56px;
    height: 100% !important;
    box-sizing: border-box;
}

.ng-invalid:not(form){
    border-left: 5px solid rgb(255, 71, 39);
}

.ng-valid:not(form){
    border-left: 5px solid rgb(9, 255, 0);
}


/*
*   Card manga
*   use manga-card to create a display manga
*/  
.manga-card{
    display: block;
    height: 280px;
    width: 200px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5em;
    z-index: 2;
    text-decoration: none !important;
    margin: 5px;
}

.manga-card >*{
    border-radius: 0.5em;
    z-index: 3;
}

.manga-card > .cover{
    width: 200px; 
    max-height: 280px;
}

.manga-card > .manga-info{
    position: relative;
    height: 70px;
    bottom: 70px;
    left: 0;
    right: 0;
    width: 200px;
    background: rgba(0, 0, 0, 0.700);
    color: white;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.manga-card > .manga-info:hover{
    background: rgba(0, 0, 0, 0.900);
    bottom: 200px;
    height: 200px;
}

.manga-card > .manga-info > .title{
    width: 200px;
    height: 27px;
    overflow: hidden;
}

.manga-card > .manga-info > .description{
    height: 143px;
    overflow: hidden;
    width: 100% !important;
    padding: 0 0.5em 0.5em 0.5em;
    color: #888;
    text-align: center;
    bottom: 0;
    top: 57px;
    opacity: 0;
    transition: 0.5s;
}

.manga-card > .manga-info > .description:hover{
    opacity: 1;
}

.manga-info > .chap{
    height: 30px;
    bottom: 143px;
    top: 27px;
    text-align: center;
}