.mainblock{
    display: grid;
    height: 100% !important;
    width: 100% !important;
    grid-template-areas: 
    '.  tab          .'
    '.  form         .';
    grid-gap: 1em;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: min-content auto;
    padding-top: 0.5em;
    position: relative;
}

.displayNone{
    display: none !important;
}

.mainblock > form > div , .mainblock > div{
    background: rgba(255, 255, 255, 0.89);
    border-radius: 1em;
    color: black;
    padding: 0.5em;
}

.mainblock > form.formUpload{
    grid-area: form;
    display: grid;
    grid-template-areas: 
    'general      '
    'classupload  '
    'optionblock  ';
    grid-gap: 1em;
    grid-template-rows: min-content min-content min-content;
    width: 100% !important;
}

.mainblock > form.formEdit{
    grid-area: form;
    display: grid;
    grid-template-areas: 
    'general      '
    'classupload  '
    'optionblock  ';
    grid-gap: 1em;
    grid-template-rows: min-content min-content min-content;
    width: 100% !important;
}

.mainblock > form.formUpdate{
    grid-area: form;
    display: grid;
    grid-template-areas: 
    'description    status'
    'tagsAlias      coverb'
    'optionblock    optionblock';
    grid-gap: 1em;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: min-content min-content min-content;
    width: 100% !important;
}

form.formUpdate > .description-block{
    grid-area: description
}

form.formUpdate > .status-block{
    grid-area: status
}

form.formUpdate > .tagAlias-block{
    grid-area: tagsAlias
}

form.formUpdate > .cover-block{
    grid-area: coverb;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
}

form.formUpdate > .cover-block > * {
    align-self: center;
}

form.formUpdate > .cover-block > .prev-cover{
    height: 200px;
    overflow: hidden;
    justify-self: center;
}

form.formUpdate > .cover-block > .prev-cover > img{
    height: 200px;
    width: auto;
    justify-self: center;
}

form.formUpdate > .option-block{
    grid-area: optionblock
}

div.btn{
    cursor: pointer;
}

.tabpanel{
    grid-area: tab;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0;
    grid-template-rows: 1fr;
    border-radius: 0.5em;
    justify-content: center;
    align-content: center;
    position: relative;
}

.tabpanel> div {
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 0.5em;
    padding: 0;
    z-index: 3;
    color: white;
    transition: 0.5s;
}

.ActiveBar{
    background: rgba(255, 255, 255, 0.850);
    position: absolute;
    z-index: 2;
    width: 33.33% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0;
    transition: 0.5s;
}

.blackWord{
    color: black !important;
}

.uploadOn{
    left: 0 !important;
}

.editOn{
    left: 33.34% !important;
}

.updateOn{
    left: 66.67% !important;
}

form.formUpload > .general-info{
    grid-area: general;
    height: min-content;
}

form.formUpload > .class-upload{
    grid-area: classupload;
}

form.formUpload> .option-block{
    grid-area: optionblock;
}

.anImage{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70px auto max-content;
    grid-gap: 1em;
    align-content: center;
}

.anImage > .numbering{
    justify-self: center;
    align-self: center;
}

.displayPrototype{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.5em;
}

.displayPrototype > div{
    justify-self: center;
}

.card-image{
    display: block;
    height: 250px;
    width: 160px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5em;
    z-index: 2;
    text-decoration: none !important;
    margin: 5px;
    position: relative;
}

.card-image >*{
    border-radius: 0.5em;
    z-index: 3;
}

.card-image > .cover{
    width: 160px; 
    max-height: 200px;
    bottom: 50px;
}

.card-image > .card-image-option{
    position: absolute;
    height: 200px;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 160px;
    background: rgba(0, 0, 0, 0.308);
    color: white;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0;
    display: grid;
    grid-template-areas: 
    'b b        b'
    'b view     b'
    'b delete   b'
    'b b        b';
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 1fr 40px 40px 1fr;
    grid-gap: 10px;
}

.card-image > .card-image-option:hover{
    opacity: 1;
    background: rgba(0, 0, 0, 0.575);
}

.card-image > .card-image-option > .btnview{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: rgba(0, 0, 0, 0.945);
    color: white;
    justify-self: center;
    align-self: center;
}

.card-image > .card-image-option > .btnremove{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: rgba(0, 0, 0, 0.945);
    color: white;
    justify-self: center;
    align-self: center;
}

.previewWindows{
    position: fixed;
    height: 100% !important;
    width: 100% !important;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    overflow: none;
    background: rgba(0, 0, 0, 0.829);
    z-index: 8;
    top: 0 !important;
    left: 0 !important;
    margin-left: -5px;
}

.previewWindows > .prevImg{
    justify-self: center;
    align-self: center;
    height: 100% !important;
    width: auto;
    z-index: 9;
}

.tagDisplay{
    display: inline-block;
}

.suggestTag{
    cursor: pointer;
}

.atag{
    color: white !important;
}